@charset "UTF-8";
@font-face {
    font-family: Shrikhand, Roboto, sans-serif;
    src: url(/Users/tayier/Library/Fonts/Shrikhand-Regular.otf);
    src: url(/Users/tayier/Downloads/Roboto/Roboto-Medium.ttf);
}

@import "utils/_Structure-web.scss";
body {
    @include style-body;
}

a {
    text-decoration: none;
    color: inherit;
}

.logo {
    display: flex;
    width: 100%;
    position: fixed;
    background-color: white;
    top: 0;
    overflow: hidden;
    height: 7%;
    z-index: 1;
    box-shadow: 0px 1px 7px -1px #eee;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
}

.logo.flash-retour {
    @include flash-retour_accueil;
}

.box-flex-row {
    @include flex-align-center-row;
}

.cintainer_main {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    max-width: 1380px;
    image-rendering: pixelated;
    .container {
        @include flex-center-column;
    }
}

.logo_accueil {
    position: fixed;
    background-color: white;
    top: 0;
    overflow: hidden;
    width: 100%;
    height: 50px;
    -webkit-padding-before: 8px;
    padding-block-start: 8px;
    box-shadow: 0px 3px 9px -3px grey;
    z-index: 1;
    max-width: 1380px;
    a:hover {
        transform: scale(1.06);
    }
}

.btn-Violet {
    @include btn-Violet;
    &:hover {
        transform: scale(1.07);
        box-shadow: 0px 5px 3px 0px #73737369;
    }
}

.titles {
    @include font-logo_titres;
}

.localisation {
    @include flex-center-column;
    -webkit-margin-before: 54px;
    margin-block-start: 54px;
    background-color: #f5f5f5;
    width: 100%;
    margin-bottom: 40px;
    .localisation_paris {
        background-color: #e7e7e7;
        width: 100%;
        .fa-map-marker-alt {
            padding-right: 15px;
        }
    }
    .info_Restaurant {
        text-align: center;
        margin-top: 25px;
    }
}

.container-bg-color {
    background-color: whitesmoke;
    .main {
        -webkit-margin-before: 39px;
        margin-block-start: 39px;
        background-color: whitesmoke;
        align-items: center;
        margin-bottom: 35px;
        .menu-photo img {
            height: 260px;
            width: 100%;
            margin-top: 18px;
            object-fit: cover;
            image-rendering: auto;
        }
        .main_menu {
            /* box-shadow: 0 0 20px 0.2px grey; */
            border-radius: 45px 45px 0px 0px;
            -webkit-margin-before: -55px;
            margin-block-start: -55px;
            position: relative;
            background-color: whitesmoke;
            padding: 0px 15px 10px 10px;
        }
        .titres {
            @include font-logo_titres;
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            align-items: center;
        }
        .menu-underling {
            border: $color-tertiaire 2px solid;
            width: 37px;
            margin: 6px 0px;
        }
        .menu_btn {
            @include box-shadow_menu_button;
            border-radius: 18px;
            height: 60px;
            width: 330px;
            display: flex;
            flex-direction: row;
            align-items: center;
            justify-content: space-between;
            padding: 5px 16px 5px 8px;
            margin: 15px 0px;
        }
        .menu_btn-1 {
            animation: opa-1 4300ms ease-in-out;
            -webkit-animation: opa-1 4300ms linear;
        }
        .menu_btn-2 {
            animation: opa-2 4650ms ease-in-out;
            -webkit-animation: opa-2 4650ms linear;
        }
        .menu_btn-3 {
            animation: opa-3 5000ms ease-in-out;
            -webkit-animation: opa-3 5000ms linear;
        }
    }
    @keyframes opa-1 {
        0% {
            opacity: 1;
        }
        40% {
            opacity: 0;
        }
        60% {
            opacity: 0;
        }
        to {
            opacity: 1;
        }
    }
    @keyframes opa-2 {
        0% {
            opacity: 1;
        }
        37% {
            opacity: 0;
        }
        60% {
            opacity: 0;
        }
        to {
            opacity: 1;
        }
    }
    @keyframes opa-3 {
        0% {
            opacity: 1;
        }
        35% {
            opacity: 0;
        }
        60% {
            opacity: 0;
        }
        to {
            opacity: 1;
        }
    }
    .menu_text {
        line-height: 0.3;
        font-weight: lighter;
    }
    .prix {
        -webkit-margin-before: 30px;
        margin-block-start: 30px;
    }
}

.main_fonctionnement {
    display: flex;
    flex-direction: column;
    margin-bottom: 70px;
    justify-content: center;
    width: 91%;
    .main_fonctionnement-text {
        margin: 0;
    }
    .main_fonctionnement_elemant-shadow {
        box-shadow: 2px 5px 15px 0.2px #73737366;
        border-radius: 18px;
        margin: 15px 0% 15px 4%;
        height: 70px;
        padding-top: 15px;
        background-color: whitesmoke;
        &:hover {
            background-color: rgba(147, 86, 220, 0.15);
        }
        &:hover .main_fonctionnement-icon {
            color: $color-primaires;
        }
        .main_fonctionnement_elemant-grid {
            /* display: grid; */
            /* grid-template-columns: 9% 14% 3fr; */
            display: flex;
            flex-direction: row;
            justify-content: flex-start;
            align-items: center;
        }
        .main_fonctionnement-icon {
            color: rgba(115, 115, 115, 0.75);
            -webkit-margin-end: 2rem;
            margin-inline-end: 2rem;
            font-size: 26px;
        }
        .main_fonctionnement-icon-number {
            background-color: $color-primaires;
            color: white;
            border-radius: 50%;
            padding: 5px 10px;
            margin: 11px 14px 11px -14px;
        }
    }
}

.restaurant {
    @include flex-main-box;
    align-items: center;
    padding: 40px 20px 55px 20px;
    .restaurant_menu {
        box-shadow: 0 0 20px 0.2px lightgrey;
        overflow: hidden;
        border-radius: 18px;
        margin: 10px 0px;
        .présentation_menu {
            display: flex;
            align-items: center;
            justify-content: space-between;
            padding: 0px 20px;
            line-height: 6px;
            font-family: Roboto, Roboto;
            font-weight: 350;
        }
        .nouveau_menu {
            position: relative;
            bottom: 10em;
            left: 70%;
            background-color: #99E2D0;
            border-radius: 1px;
            padding: 7px 16px;
            color: rgba(0, 0, 0, 0.7);
        }
    }
    .restaurant_menu_image {
        height: 275px;
        width: 100%;
        object-fit: cover;
        image-rendering: pixelated;
    }
}

.fa-heart {
    @include fa-heart;
}

.fa-heart:hover {
    font-weight: 600;
    font-size: 30px;
    background: linear-gradient(14deg, $color-secondaire, $color-primaires);
    -webkit-background-clip: text;
    color: transparent;
    filter: drop-shadow(0px 1px 2px $color-secondaire);
}

footer {
    background-color: $background-color-footer;
    @include flex-center-column-no-align;
    color: #eee;
    .footer_icon-flex {
        display: grid;
        grid-template-columns: 1fr 10fr;
        align-items: baseline;
    }
    .footer_icon-flex .footer_icon-flex-margin {
        -webkit-margin-before: 15px;
        margin-block-start: 15px;
    }
    p {
        margin: 0;
    }
}

.titles {
    @include font-logo_titres;
}

@media (min-width: 460px) and (max-width: 768px) {
    .restaurant {
        .restaurant-flex {
            display: flex;
            flex-wrap: wrap;
            justify-content: center;
            align-items: center;
        }
        a {
            flex: 46%
        }
        .restaurant_menu {
            box-shadow: 0 0 20px 0.2px lightgrey;
            overflow: hidden;
            border-radius: 18px;
            flex: 46%;
            margin: 10px 10px;
            .présentation_menu {
                display: flex;
                align-items: center;
                justify-content: space-between;
                padding: 0px 5px;
                font-family: Roboto, Roboto;
                font-weight: 350;
            }
        }
    }
    .main_fonctionnement {
        transform: scale(1.06);
        .main_fonctionnement-text {
            align-self: center;
        }
        .main_fonctionnement_elemant-shadow {
            box-shadow: 2px 5px 15px 0.2px #73737366;
            border-radius: 18px;
            margin: 15px 2% 15px 4%;
            padding-top: 0px;
            background-color: whitesmoke;
            width: 44%;
            .main_fonctionnement-icon {
                color: rgba(115, 115, 115, 0.75);
                -webkit-margin-end: 2rem;
                margin-inline-end: 2rem;
                font-size: 26px;
            }
            .main_fonctionnement_elemant-grid {
                /* display: grid; */
                /* grid-template-columns: 9% 14% 3fr; */
                display: flex;
                flex-direction: row;
                justify-content: flex-start;
                align-items: center;
            }
        }
        .main_fonctionnement-flex {
            display: flex;
            align-items: center;
            justify-content: center;
            flex-wrap: wrap;
            flex-direction: row;
            max-width: 765px;
        }
        .main_fonctionnement-icon-number {
            background-color: $color-primaires;
            color: white;
            border-radius: 50%;
            padding: 5px 10px;
            margin: 11px 14px 11px -14px;
        }
    }
}

@media (min-width: 769px),
(max-width: 1380px) and (min-width: 1380px) {
    .box-transform {
        transform: scale(1.05);
    }
    .logo_accueil {
        // width: 95%;
    }
    .localisation {
        margin-top: 112px;
        transform: scale(1.1, 1.3);
        max-width: 1255px;
        width: 91%;
    }
    .restaurant {
        .restaurant-flex {
            display: flex;
            flex-wrap: wrap;
            justify-content: center;
            align-items: center;
        }
        a {
            flex: 46%
        }
        .restaurant_menu {
            box-shadow: 0 0 20px 0.2px lightgrey;
            overflow: hidden;
            border-radius: 18px;
            flex: 46%;
            margin: 10px 10px;
            .présentation_menu {
                display: flex;
                align-items: center;
                justify-content: space-between;
                padding: 0px 5px;
                font-family: Roboto, Roboto;
                font-weight: 350;
            }
            .nouveau_menu {
                bottom: 15em;
            }
        }
    }
    .main_fonctionnement {
        display: flex;
        flex-direction: column;
        margin-top: 22px;
        margin-bottom: 10px;
        justify-content: center;
        width: 95%;
        .main_fonctionnement-text {
            align-self: center;
        }
        .main_fonctionnement_elemant-shadow {
            flex-basis: 401px;
        }
        .main_fonctionnement-flex {
            display: flex;
            align-items: center;
            justify-content: center;
            flex-wrap: wrap;
            flex-direction: row;
        }
        .main_fonctionnement_elemant-grid {
            /* display: grid; */
            /* grid-template-columns: 9% 14% 3fr; */
            display: flex;
            flex-direction: row;
            justify-content: flex-start;
            align-items: center;
        }
        .main_fonctionnement-icon {
            color: rgba(115, 115, 115, 0.75);
            -webkit-margin-end: 2rem;
            margin-inline-end: 2rem;
            font-size: 26px;
        }
        .main_fonctionnement-icon-number {
            background-color: $color-primaires;
            color: white;
            border-radius: 50%;
            padding: 5px 10px;
            margin: 11px 14px 11px -14px;
        }
    }
}