// web-color--------------------------------
$color-primaires:#9356DC;
$color-secondaire:#FF79DA;
$color-tertiaire:#99E2D0;
$background-color-Primaire:rgb(245, 245, 245);
$background-color-footer:black;
$color-text_button:white;
$box-shadow-base: (0 0 20px 0.2px lightgrey);
// Identité graphique Polices ----------------
$Logo-et-titres:Shrikhand;
$Texte:Roboto;
@mixin btn-Violet {
    overflow: hidden;
    border-radius: 27px;
    margin: 10px 0px;
    text-align: center;
    width: 220px;
    color: #fff;
    margin-bottom: 60px;
    background: linear-gradient(165deg, #ff79da, #9356dc);
    filter: drop-shadow(0px 0px 3px #9356dc);
}

@mixin font-logo_titres() {
    font-family: shrikhand, sans-serif;
}

@mixin font-margin_text_button() {
    font-family: Roboto, sans-serif;
    margin-block-start: 5px;
    margin-block-end: 5px;
}

@mixin box-shadow_menu_button {
    box-shadow: 1px 5px 20px 13.2px rgb(226, 226, 226);
    border-radius: 18px;
    height: 60px;
    width: 330px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding: 5px 16px 5px 8px;
    margin: 15px 0px;
}

@mixin style-logo_box {
    display: grid;
    grid-template-columns: auto auto 10%;
    width: 100%;
    position: fixed;
    background-color: white;
    top: 0;
    overflow: hidden;
    height: 7%;
    z-index: 1;
    padding-block-start: 8px;
}

@mixin flash-retour_accueil {
    font-size: x-large;
    text-align: center;
    align-items: center;
}

@mixin style-body {
    height: 100%;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: Roboto, shrikhand, sans-serif;
    image-rendering: pixelated;
    justify-content: center;
}

@mixin positon-imge {
    justify-self: center;
}

@mixin flex-main-box {
    background-color: $background-color-Primaire;
    display: flex;
    flex: 100%;
    flex-direction: column;
}

@mixin flex-center-column {
    display: flex;
    flex: 100%;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

@mixin flex-center-column-no-align {
    display: flex;
    flex: 100%;
    flex-direction: column;
    justify-content: center;
}

@mixin flex-align-center-row {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

@mixin flex-center-row {
    display: flex;
    flex-direction: row;
    align-items: center;
}

@mixin style-box {
    box-shadow: 0 0 20px 0.2px lightgrey;
    overflow: hidden;
    border-radius: 18px;
    margin: 10px 0px;
}

//  -----------􏰀 Effets graphiques et animations------------------------
// /Les effets accessibles au clic ou au survol sont visibles sur la maquette. Ils devront utiliser les animations ou transitions CSS,
// pas de JavaScript ni de librairie. 5 Boutons ● Au survol,
// la couleur de fond des boutons principaux devra légèrement s’éclaircir. L’ombre portée devra également être plus visible. ● À terme,
// les visiteurs pourront sauvegarder leurs menus préférés. Pour ça,
// un bouton "J’aime"en forme de cœur est présent sur la maquette. Au clic,
// il devra se remplir progressivement. Pour cette première version,
// l’effet peut être apparaître au survol sur desktop au lieu du clic. Page d’accueil ● Quand l’application aura plus de menus,
// un “loading spinner” sera nécessaire. Sur cette maquette,
// nous souhaitons en avoir un aperçu. Il devra apparaître pendant 1 à 3 secondes quand on arrive sur la page d'accueil, couvrir l'intégralité de l'écran, et utiliser les animations CSS (pas de librairie). Le design de ce loader n’est pas défini, toute proposition est donc la bienvenue tant qu’elle est cohérente avec la charte graphique du site.
//  Pages de menu ● À l’arrivée sur la page,
// les plats devront apparaître progressivement avec un léger décalage dans le temps. Ils pourront soit apparaître un par un,
// soit par groupe “Entrée”,
// “Plat” et “Dessert”. Un exemple de l’effet attendu est fourni. ● Le visiteur peut ajouter les plats qu'il souhaite à sa commande en cliquant dessus. Cela fait apparaître une petite coche à droite du plat. Cette coche devra coulisser de la droite vers la gauche. Pour cette première version, l’effet peut apparaître au survol sur desktop au lieu du clic. Si l’intitulé du plat est trop long, il devra être rogné avec des points de suspension. Un exemple de l’effet attendu est fourni.